body {
    background-color: goldenrod;
}

.text {
    color: goldenrod;
}

.outline {
    outline: black solid 3px;
}

#mainTitle {
    font-size: 50px;
    text-align: center;
}

.bodyCW {
    width: 800px;
    flex: 1;
    background-color: navy;
    border-radius: 5px;
    position: relative;
}

/*Nav*/
#topbar {
    height: 50px;
    margin-top: 0px;
    padding-top: 0px;
    display: inline-block;
}

#topbar ul li {
    display: inline-block;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

#topbar ul li a:link {
    color: gold;
    text-decoration: none;
}


#topbar ul li a:visited {
    color: gold;
}

#topbar ul li a:hover {
    padding: 5px;
    background-color: blue;
    transition: .1s;
    border-radius: 20px;

}
.link li a{
    text-decoration: none;
}
.link li a:visited {
    color: gold;
}

.link li a:hover {
    color: gold;
}

.link ul li a:link {
    color: gold;
}

.center {
    text-align: center;
}

.glow {
    -webkit-animation: glow 4s ease-in-out infinite alternate;
    -moz-animation: glow 4s ease-in-out infinite alternate;
    animation: glow 4s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 7px goldenrod
    }

    to {
        text-shadow: 0 0 7px navy
    }
}