body {
    user-select: none;
    background-image: url(img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    font-family: minecraft;
    display: flex;
}

@font-face {
    font-family: minecraft;
    src: url(MCFont.ttf);
}

.upgrade {
    background-color: grey;
    outline-style: groove;
    outline-color: grey;
    width: unset;
    height: unset;
    flex: 1;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    position: sticky;
    overflow-x: clip;
    overflow-y: auto;
    font-size: 80%;
}

.upgrade:hover {
    transition: 0s;
    font-size: 90%;
}

.upgradeDescription {
    background-color: rgba(78, 78, 78, 0.7);
    flex: 1;
    border-radius: 3px;
    overflow-x: unset;
}

.list::-webkit-scrollbar {
    display: none;
}

.list {
    margin-top: 8%;
    height: 600px;
    width: 15%;
    background-size: cover;
    background-attachment: scroll;
    overflow: hidden;
    outline-style: groove;
    outline-color: black;
    overflow-y: scroll;
    overflow-x: unset;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    background-image: url("img/icons/dirt.jpeg");
    background-size: 50%;
}

.icon {
    float: left;
    width: 50px;
    height: 50px;
}

#inventoryGrid {
    margin-left: 7.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: 100px;
    align-items: start;
}

.inventoryDescription {
    display: none;
}

.inventoryObject:hover .inventoryDescription {
    display: block;
    font-size: 100%;
    background-color: rgba(78, 78, 78, 0.7);
    position: absolute;
    padding: 1%;
    width: fit-content;
    max-width: 150px;
    text-align: center;
    overflow-wrap: anywhere;
}

.inventoryObject {
    background-image: url("img/background.png");
    background-size: 100%;
    background-position-y: center;
    width: fit-content;
    height: fit-content;
}

.inventoryIcon {
    padding-top: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 40px;
    height: 40px;
}

#sleepDiv {
    margin-top: 10%;
    width: 30%;
    height: 30%;
}

#clickerPNG {
    z-index: 1;
}

#breakPNG {
    pointer-events: none;
    z-index: 2;
}

.clickerIcon {
    position: absolute;
    width: 30v;
    height: 30vh;
    left: calc(42.5%);
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
}

.generalText {
    font-size: 100%;
    color: white;
}